<ion-view class="rooster-view">

    <ion-content>
        <ion-list class="times">
            <ion-item ng-repeat="time in times" >
                {{time}}
            </ion-item>
        </ion-list>

        <ion-list class="lessons">
            <ion-item ng-repeat="lesson in todayLessons" >
                {{lesson.begin_date}}

            </ion-item>
        </ion-list>
        <ion-list class="lessons">
            <ion-item ng-repeat="lesson in lessonsGrid">
                <div ng-if="lesson.hasLesson == true" class="lessonActive">
                    <div class="lessonContent">
                        <b>{{lesson.title}}</b>
                        <p>{{lesson.description}}</p>
                    </div>
                </div>


            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
