<ion-view class="absence_add-view">
    <ion-content>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Absentie toevoegen</h1>
        </div>

        <div class="row form-wrapper">
            <div class="col">
                <form name="absenceadd_form" class="absenceFrom" ng-submit="doAbsenceAdd()" novalidate>
                    <div class="form-fields-outer list list-inset">
                        <h4>Reden</h4>
                        <label class="item item-input">
                            <input type="text" name="reson" ng-model="formData.reson" required>
                        </label>

                        <h4>Omschrijving</h4>
                        <label class="item item-input">
                            <textarea rows='8' name="description" ng-model="formData.description" required></textarea>
                        </label>

                        <h4>Begin tijd</h4>
                        <ion-list>
                            <div class="item" ion-datetime-picker ng-model="formData.begin_datetime">
                                {{formData.begin_datetime| date: "dd-MM-yyyy H:mm:ss"}}
                            </div>
                        </ion-list>

                        <h4>Eind tijd</h4>
                        <ion-list>
                            <div class="item" ion-datetime-picker ng-model="formData.end_datetime">
                                {{formData.end_datetime| date: "dd-MM-yyyy H:mm:ss"}}
                            </div>
                        </ion-list>

                        <button type="submit" class="login button button-block button-positive">
                            Toevoegen
                        </button>
                        <p ng-show="error" class="message error">{{error}}</p>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
