<ion-view class="absencedetails-view">

    <ion-nav-title>Absence details</ion-nav-title>


    <ion-content>
        <ion-list class="absenceDetail">
                <div class="absenceDetails">
                    <p><b>Naam: {{absence.displayname}}</b></p>
                    <p><b>Email: {{absence.email}}</b></p>
                    <p><b>Reden: {{absence.reson}}</b></p>
                    <p>Beschrijving: {{absence.description}}</p>
                    <p>Begin datum: {{absence.begin_date |  date:'d MMMM yyyy H:mm:ss'}}</p>
                    <p>Eind datum: {{absence.end_date |  date:'d MMMM yyyy H:mm:ss'}}</p>
                </div>

            <button class="button button-block button-positive" ng-click="approved()" ng-if="!canAdd">Goedkeuren</button>
            <button class="button button-block button-assertive" ng-click="cancel()" ng-if="!canAdd">Afwijzen</button>

        </ion-list>

    </ion-content>
</ion-view>
