/* Empty. Add your own CSS if you like */


.app-logo {
    width: 60%;
    margin: 0 auto;
    display: block;
}


.form.lessonFrom{
    margin-top: 100px;
}

h4{
    margin-top: 20px;
}

.menu-logo {
    height: 100%;
    margin: 0 auto;
    display: block;
}


/* ROOSTER OVERZICHT*/

.times {
    float: right;
    width: 17%;
}
.times ion-item {
    font-size: 12px;
}

.lessons ion-item {
    height: 54px;
    border: 0;
    padding: 0;
}
.lessons ion-item .lessonContent {
    padding: 5px;
}

.lessonActive {
    width: 100%;
    height: 100%;
    background: #8cb2ec;
}

.lesson {
    float: left;
    background-color: #0a9dc7;
    width: 83%;
    height: 53px;
}
.lesson2 {
    background-color: #3355f4;
    height: 106px;
    margin-top: 53px;
}

.bar.bar-dark {
    background-image: none;
    background-color: #8cb2ec;

}
.lesson_single-view .buttons {
    margin-top: 25%;
}

.class_select {
    width: 100%;
}

.rooster-view ion-content {
    top: 92px;
}

.classes_details_view ion-content{
    top: 92px;
}

.second_tab{
    top: 49px;
}

ion-tabs .tab-item {
    background: #6ca6ff !important;
}
.approvedAbsence, .ispresent {
    background: #71ff55;
}
.rejectedAbsence {
    background: #ff3b30;
}