<ion-view class="lesson_add-view">
    <ion-content>
        <div class="bar bar-header bar-dark">
            <h1 class="title">Lesson toevoegen</h1>
        </div>

        <div class="row form-wrapper">
            <div class="col">
                <form name="lessonadd_form" class="lessonFrom" ng-submit="doLessonAdd()" novalidate>
                    <ion-list class="form-fields-outer list list-inset">
                        <h4>Titel</h4>
                        <label class="item item-input">
                            <input type="text" placeholder="Titel" name="titel" ng-model="formData.title" required>
                        </label>

                        <h4>Beschrijving</h4>
                        <label class="item item-input">
                            <input type="text" placeholder="Beschrijving" name="description" ng-model="formData.description" required>
                        </label>

                        <h4>Begin tijd</h4>
                        <ion-list>
                            <div class="item" ion-datetime-picker ng-model="formData.begin_datetime">
                                {{formData.begin_datetime| date: "dd-MM-yyyy H:mm:ss"}}
                            </div>
                        </ion-list>

                        <h4>Eind tijd</h4>
                        <ion-list>
                            <div class="item" ion-datetime-picker ng-model="formData.end_datetime">
                                {{formData.end_datetime| date: "dd-MM-yyyy H:mm:ss"}}
                            </div>
                        </ion-list>
                        <ion-list>

                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Klas
                                </div>
                                <select name="class" ng-model="formData.class" required>
                                    <option ng-repeat="class in classes" value="{{class.name}}">{{ class.name }}</option>
                                </select>
                            </label>

                        </ion-list>
                        <button type="submit" class="login button button-block button-positive">
                            Toevoegen
                        </button>
                        <p ng-show="error" class="message error">{{error}}</p>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
